$colors: (
	primary: #ef4723,
	primary-light: lighten(#ef4723, 15%),
	primary-dark: darken(#ef4723, 15%),
	neutral-white: #fff,
	neutral-100: #e5e5e5,
	neutral-300: #d4d4d4,
	neutral-400: #a3a3a3,
	neutral-600: #525252,
	neutral-900: #171717,
	neutral-black: #000,
	success: #349334,
	success-light: #daefda,
	success-dark: #183e18,
	error: #c00,
	error-light: #ffecec,
	error-dark: #680d0d,
	info: #4FC3F7,
	info-light: #E1F5FE,
	info-dark: #01579B,
);

@function color($name) {
	@return map-get($colors, $name);
}
