@use "sass:map";

@import 'reset';
@import 'colors';
@import 'screens';

body, html {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 100%;
	line-height: 1.6rem;
	color: color(neutral-600);

}

body {
	display: flex;
	justify-content: center;
	height: 100dvh;
	box-sizing: border-box;
	background: color(neutral-100);

	> div {
		width: 100vw;
	}
}

h2 {
	font-size: 1.5rem;
	font-weight: 600;
	color: color(neutral-600);
	margin-bottom: 1rem;
}

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
